@charset "UTF-8";

html, html * {
margin:0; padding:0;
}

body{
position:relative;
}

.h-70{
padding:70px 0px;
/*-> 위,아래 70px, 좌,우 0px을 의미*/
text-align:center;
height:860px;
}

.rect{
width:100px;
height:100px;
}

.w-150{
width:150px;
max-width:100%;
}